.date-range-picker {
    position: relative;
}

input {
    width: 200px;
    padding: 10px;
    cursor: pointer;
}

.calendar {
    position: absolute;
    background: #FFFFFF;
    border-radius: 0.6315789474vw;
    margin-top: 0.7894736842vw;
    padding: 0.7895vw;
    z-index: 1000;
    width: 14.7368vw;
    transition: linear 250ms;
}

.header-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.day:hover {
    background: #f0f0f0;
}

.empty-day {
    padding: 10px;
}

.days-of-week {
    display: flex;
    flex-direction: row;
    gap: 0.8421vw;
}

.dropdown-menu-wrapper {
    z-index: 20;
    overflow: hidden;
    max-height: 15.7894736842vw;
    overflow-y: scroll;
    overscroll-behavior-y: auto;
}

.dropdown-menu-wrapper_dates {
    transition: padding linear 250ms;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.7894736842vw 0.8421052632vw;
}

.dropdown-menu-month {
    background: none;
    border: none;
    outline: none;
    grid-column: span 5;
    font-size: 0.7368421053vw;
}

.dropdown-menu-arrow {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 0.8421052632vw;
    height: 0.6315789474vw;
}

.dropdown-menu-arrow_left {
    transform: rotate(180deg);
}

.dropdown-menu-arrow img {
    width: 100%;
    height: 100%;
}

.dropdown-menu-day {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.7368421053vw;
    width: 100%;
    height: 100%;
    border-radius: 0.3157894737vw;
    transition: background-color ease-in-out 250ms;
    text-align: center;
    padding-top: 0.4895vw;
    padding-bottom: 0.4895vw;
}

.dropdown-menu-day_bold {
    font-weight: 700;
}

.dropdown-menu-day_pink {
    color: #B700FF;
}

.dropdown-menu-day_gray {
    color: #ACB6BF;
}

.dropdown-menu-day:hover {
    background: rgba(183, 0, 255, 0.1019607843);
}
